/* #1c0c5b
#3d2c8d
#916bbf
#f6ccef
#a588b0
#d700ff
#fff */

.abt-container {
    width: 90%;
    margin: auto;
    position: relative;
    top: 10rem;
}

.sub-abt {
    width: 80%;
    margin: auto;
}



.first > h1 {
    color: #a588b0;
    text-transform: capitalize;
    display: inline-block;
    font-size: 4vw;
    margin-right: 5px;
}

.first > div {
    width: 10vw;
    height: 1px;
    background-color: #a588b0;
    display: inline-block;
}

.card1 > p {
    color: #f6ccef;
    font-size: 13px;
    /* width: 40vw; */
    line-height: 1.8;
    font-weight: 300;
}

.second {
    display: flex;
}

ul li {
    font-size: 13px;
    color: #a588b0;
    font-weight: 400;
    line-height: 1.7;
    list-style-type: none;
}

ul li::before {
    content: "\2022";
    color: #d700ff;
    display: inline-block; 
    width: 17px;
    margin-left: -1em;
  }

.profile {
    /* width: 100%; */
    width: 673.88px;
}

.general-card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.card1 {
    width: 55%;
}

.card2 {
    width: 40%;
    /* position: relative;
    left: 140px; */
    display: none;
}

div.card1 > a:nth-child(4) {
    margin-left: 10px;
}

@media screen and (max-width: 870px) {
    .general-card {
        flex-direction: column;
    }

    .card1, .card2 {
        width: 100%;
    }
}