.contact-container {
    width: 100%;
    margin: auto;
    position: relative;
    top: 17rem;
    background: url(/public/Assets/Sprinkle.svg);
}

.sub-contact {
    width: 80%;
    margin: auto;
}

#contact > div > div.first > p {
    color: #f6ccef;
    font-size: 13px;
    width: 40vw;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 30px;
}

.forms {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.forms > div {
    width: 100%;
}

.forms > div > input {
    width: 100%;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: #3d2c8d;
    color: #f6ccef;
    font-weight: 300;
}

form > div:nth-child(3) > textarea {
    width: 100%;
    height: 160px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: #3d2c8d;
    color: #f6ccef;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

form > div:nth-child(1) {
    display: flex;
    gap: 1rem;
    align-items: center;
}

::placeholder {
    color: #f6ccef;
    font-weight: 300;
}

.footer {
    margin-top: 20px;
}

.side-footer {
    display: none;
    padding: 10px 0;
}

.side-footer > .icon-link > svg:hover{
    stroke: #d700ff;
}

.footer > p {
    text-align: center;
    color: #a588b0;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0;
}

@media screen and (max-width: 870px) {
    .side-footer {
        display: block;
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }
}

@media screen and (max-width: 820px) {
    #contact > div > div.first > p {
        width: 60vw;
    }

    .forms {
        width: 85%;
    }
}

@media screen and (max-width: 420px) {
    #contact > div > div.first > p {
        width: 70vw;
    }

    .forms {
        width: 90%;
    }

    form > div:nth-child(1) {
        flex-direction: column;
    }
}