/* #1c0c5b
#3d2c8d
#916bbf
#f6ccef
#a588b0
#d700ff
#fff */

.contact-container {
    width: 90%;
    margin: auto;
    position: relative;
    top: 17rem;
}

.sub-contact {
    width: 80%;
    margin: auto;
}

#contact > div > div.first > p {
    color: #f6ccef;
    font-size: 13px;
    width: 40vw;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 30px;
}

.form-input {
    width: 60%;
}

.forms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.form-input > .forms > div:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-input > .forms > div {
    width: 100%;
}

.form-input > .forms > div > input {
    padding: 17px 10px;
    width: 100%;
    background-color: #3d2c8d;
    color: #f6ccef;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.form-input > .forms > div:nth-child(2) > input {
    width: 100%;
}

.form-input > .forms > div:nth-child(3) > textarea {
    width: 100%;
    height: 170px;
    background-color: #3d2c8d;
    color: #f6ccef;
    resize: none;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

::placeholder {
    color: #916bbf;
    font-size: 13px;
}

@media screen and (max-width:895px) {
    .form-input {
        width: 90%;
    }

    #contact > div > div.first > p {
        width: 70vw;
    }

    .form-input > .forms > div:nth-child(1) {
        flex-direction: column;
        align-items: center;
    }
}