.intro-container {
  width: 100%;
  margin: auto;
  margin-top: 0;
  /* height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.sub-container {
  width: 80%;
  /* margin: auto; */
  height: 80dvh;

  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.block-flex > p {
  color: #916bbf;
  letter-spacing: 1.3px;
  margin-top: 0;
}

.block-flex > h2 {
  font-size: 40px;
  color: #f6ccef;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h1 {
  color: #a588b0;
  font-size: 25px;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h3 {
  color: #916bbf;
  font-size: 16px;
}

.block-flex > p:nth-child(4) {
  color: #f6ccef;
  font-size: 13px;
  /* width: 40vw; */
  /* text-align: justify; */
  line-height: 1.8;
  font-weight: 300;
}

.button {
  outline: 0;
  background: transparent;
  border: 1px solid #916bbf;
  border-radius: 5px;
  color: #f6ccef;
  margin-top: 10px;
  min-width: 130px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  z-index: 0;
  overflow: hidden;
}

.button:hover {
  color: #fff;
}

.button:hover:after {
  width: 100%;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #3d2c8d;
}

.button:active {
  color: #1c0c5b;
}

div.sub-container > div > a:nth-child(6) {
  margin-right: 10px;
  background-color: #d700ff;
}

.side1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.side1 a {
  color: #a588b0;
}



svg:hover {
  stroke: #ffffff;
}

.icon-link:hover {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@media screen and (max-width: 870px) {
  .block-flex {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .block-flex > p {
    text-align: center;
  }

  .block-flex > h2 {
    font-size: 9vw;
  }

  .block-flex > p:nth-child(5) {
    width: 60vw;
  }

  .side1 {
    display: none;
  }

  div.sub-container > div > a:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .block-flex > p:nth-child(5) {
    width: 100%;
  }
}
