/* #1c0c5b
#3d2c8d
#916bbf
#f6ccef
#a588b0
#d700ff
#fff */

.work-container {
    width: 90%;
    margin: auto;
    position: relative;
    top: 12rem;
}

.sub-wrk {
    width: 80%;
    margin: auto;
}

.work-place {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.general-cont {
    width: 45%;
    height: 100%;
}

.cont1 {
    width: 100%;
    padding: 30px 0 0 0;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(61, 44, 141, 0.75);
    background: url(/public/Assets/bitcoin-rate.PNG);
    background-size: cover;
    background-position: center;
    height: 13rem;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
}

.work-place > div > h3 {
    margin-bottom: 0;
    margin-top: 11px;
    font-size: 30px;
}

.work-place > div > h3 > a {
    color: #f6ccef;
    text-decoration: none;
}

.cont-details {
    margin-top: 11px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cont-details > div {
    background: #080047F5;
    border: 1px solid #30206F;
    font-size: 10px;
    color: #f6ccef;
    padding: 13px 15px;
    text-align: center;
    border-radius: 5px;
}