/* #1c0c5b
#3d2c8d
#916bbf
#c996cc
#fff */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #1c0c5b;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #3d2c8d;       
}

::-webkit-scrollbar-thumb {
  background-color: #916bbf;    
  border-radius: 20px;
  height: 50px;
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
}